# 匿名函數

In [ ]:
# 具名函數
# 開根號乘以乘以10

def upgrade(s):
  return (round(s ** 0.5 * 10))

upgrade(55)

74

In [ ]:
# 具名函數_迴圈

scores = [2, 13, 27, 39, 46, 58]

for s in scores:
  print(upgrade(s))

14
36
52
62
68
76

In [ ]:
# 具名函數_List Comprehension-1

scores = [2, 13, 27, 39, 46, 58]

[upgrade(s) for s in scores]

[14, 36, 52, 62, 68, 76]

In [ ]:
# 具名函數_List Comprehension-2

scores = [2, 13, 27, 39, 46, 58]

[round(s ** 0.5 * 10) for s in scores]

[14, 36, 52, 62, 68, 76]

In [ ]:
# 匿名函數

up = lambda x: round(x ** 0.5 * 10)
up(55)

74

In [ ]:
# 匿名函數_迴圈

scores = [2, 13, 27, 39, 46, 58]

for s in scores:
  print((lambda x: round(x ** 0.5 * 10))(s))

14
36
52
62
68
76

In [ ]:
# 匿名函數_List Comprehension

scores = [2, 13, 27, 39, 46, 58]

[(lambda x: round(x ** 0.5 * 10)) (s) for s in scores]

[14, 36, 52, 62, 68, 76]

In [ ]:
# Practice

## 具名函數
def f(x, y, z):
  return x + y + z

print('具名函數處理')
print(f(2, 30, 400))

## 匿名函數
k = lambda x, y, z: x + y + z

print('匿名函數處理')
print(k(2, 30, 400))

具名函數處理
432
匿名函數處理
432

In [ ]:
# Practice

mz = (lambda a = 'Wolfgangus', b = 'Theophilus', c = 'Mozart': a + b + c)
print(mz(a = 'Wolfgang', b = 'Amadeus'))

WolfgangAmadeusMozart

In [ ]:
# Practice
# put the funtion in the list

try1 = [lambda x: x ** 2, lambda x: x ** 3, lambda x: x ** 4]
print(try1.__class__)
print('------------------')

for h in try1:
  print('每一個',h.__class__)
  print('運算後是',h(3))
print('------------------')

print(try1[0](11)) # ---> 從list取出第零個進行運算，記得加上(參數)

<class 'list'>
------------------
每一個 <class 'function'>
運算後是 9
每一個 <class 'function'>
運算後是 27
每一個 <class 'function'>
運算後是 81
------------------
121

In [ ]:
# Practice

print('一般函數處理')
def f1(x):
  return x ** 2
def f2(x):
  return x ** 3
def f3(x):
  return x ** 4

try2 = [f1, f2, f3]

for ff in try2:
  print('每一個',ff.__class__)
  print('運算後是',ff(3))
print('------------------')

print(try2[0](11))

一般函數處理
每一個 <class 'function'>
運算後是 9
每一個 <class 'function'>
運算後是 27
每一個 <class 'function'>
運算後是 81
------------------
121

In [ ]:
# 補充：三元運算式

x, y = 1, 3

x if x <= y else y # 由下方判斷式改為單行

# if x <= y:
#   print(x)
# else:
#   print(y)

1

In [ ]:
# Practice
# 取最小

print('匿名函數可用於條件分析表達上')
findmin = lambda x, y: x if x < y else y

print(findmin(101 * 99, 102 * 98))
print(findmin(102 * 98, 101 * 99))

匿名函數可用於條件分析表達上
9996
9996

In [ ]:
# 承上練習，簡化

print('匿名函數可用於條件分析表達上')
findmin = lambda x, y: min(x, y)

print(findmin(101 * 99, 102 * 98))
print(findmin(102 * 98, 101 * 99))

匿名函數可用於條件分析表達上
9996
9996

In [3]:
# 補充：Lambda 取代 def

import pandas as pd

students = {'names':['Lucy', 'Jean', 'Kuku', 'Mia'],
            'height':[158, 165, 158, 156]}

df = pd.DataFrame(students) # 轉換TABLE
df

  names  height
0  Lucy     158
1  Jean     165
2  Kuku     158
3   Mia     156

In [4]:
# 承上補充，加上level欄位_1（def）
# 轉換身高 >=160 為高挑，其餘為普通

def grade(x):
  return('高挑' if x >=160 else '普通')

df['level'] = df['height'].apply(grade)
df

  names  height level
0  Lucy     158    普通
1  Jean     165    高挑
2  Kuku     158    普通
3   Mia     156    普通

In [9]:
# 承上補充，加上level欄位_2（lambda）
# 轉換身高 >=160 為高挑，其餘為普通

df['level2'] = df['height'].apply(lambda x:'高挑' if x >=160 else '普通')
df

  names  height level level2
0  Lucy     158    普通     普通
1  Jean     165    高挑     高挑
2  Kuku     158    普通     普通
3   Mia     156    普通     普通

In [11]:
# 一般寫法（def）

height = [158, 165, 158, 156]

def grade(x):
  return('高挑' if x >=160 else '普通')
for h in height:
  print(h, grade(h))

158 普通
165 高挑
158 普通
156 普通

In [19]:
# 承上，加入convert（def）

convert = []
height = [158, 165, 158, 156]

def grade(x):
  return('高挑' if x >=160 else '普通')

for h in height:
  print(h, grade(h))
  convert.append(grade(h))
convert

158 普通
165 高挑
158 普通
156 普通

['普通', '高挑', '普通', '普通']

In [22]:
# 一般寫法（lambda）

height = [158, 165, 158, 156]

g = lambda x: '高挑' if x >=160 else '普通'

for h in height:
  print(h, g(h))

158 普通
165 高挑
158 普通
156 普通

In [23]:
# 一般寫法（list comprehension）

height = [158, 165, 158, 156]

['高挑' if x >=160 else '普通' for x in height]

['普通', '高挑', '普通', '普通']

In [24]:
# 一般寫法（list comprehension with lambda indirectly）

height = [158, 165, 158, 156]

g = lambda x: '高挑' if x >=160 else '普通'

[g(x) for x in height]

['普通', '高挑', '普通', '普通']

In [29]:
# 一般寫法（list comprehension with lambda directly）

height = [158, 165, 158, 156]

[(lambda x: '高挑' if x >=160 else '普通') (x) for x in height]

['普通', '高挑', '普通', '普通']